body {
    margin: 0;
    background: #000;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

#video-feed {
    display: flex;
    flex-direction: column;   /* vertical */
    gap: 10px;                /* espaço entre vídeos */
    max-width: 400px;         /* largura do vídeo */
    padding: 10px;
}

#video-feed video {
    width: 100%;             /* ocupa toda a largura */
    height: 600px;           /* altura tipo TikTok */
    border-radius: 10px;
}
